 body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container {
    border-style: solid;
    border-radius: 15px;
    border-color: indigo;
    border-width: 10px;
    width: 75%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    margin: auto;

}
h1 {
    align-self: center;
}
p {
    margin: 10px;


}
.photo-gallery {
    column-count: 2;
    column-gap: 1em;
    position: relative;
    top: 70px;
    left: 30px;
}
.grid {
    background-color: #eee; 
    display: inline-block;
    margin: 0 0 1em;
    width: 80%;
    border-style: inset;
    border-color: teal;
    border-radius: 10px;
    border-width: 5px;
}

@media (max-width: 900px) {
    body {
        background-color:lavender;
    }
}
@media (min-width: 901px) {
    body {
        background-color: #b2d6ff;
    }
    .header-container {
        float: left;
        width: 15%;
        top: 70px;
        position: relative;
        margin-left: 50px;
        padding-bottom: 100px;
    }
    .photo-gallery {
        column-count: 3;
        column-gap: 1em;
        padding-left: 20px;
    }
}